/* the border-box property of the box-sizing attribute modulates box size so
    padding and border are included in an element's height and width. because '*'
    is a universal selector these properties will be applied to all elements of 
    the linked .html file. */
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    /* 'body' is a css element selector which will hold properties 
        (such as 'backgrond-color') then applied to
        every instance of the <body> tag in the linked .html file. */
    
    body {
        background-color: #d9dcd6;
    }
    
    /* '.header' is a css class selector. it will apply all attached properties to 
        that invoke the '.header' class. */
    .header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2a607c;
        color: #ffffff;
    }
    
    /* this selector grabs <h1> elements that are descendants of a .header class*/
    .header h1 {
        display: inline-block;
        font-size: 48px;
    }
    
    .header h1 .seo {
        color: #d9dcd6;
    }
    
    .header div {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        /* added quotes to the a property of this font-family */
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
    
    .header div ul {
        list-style-type: none;
    }
    
    .header div ul li {
        display: inline-block;
        margin-left: 25px;
    }

    .hero {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }
    
    .content {
        width: 75%;
        display: inline-block;
        margin-left: 20px;
    }
    
    .benefits {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
    }
    /* consolidated three .benefit classes and their modifiers */
    
    .benefit-general {
        margin-bottom: 32px;
        color: #ffffff;
    }
    
    .benefit-general h3 {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .benefit-general img{
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }
    
    /* consolidated the three different classes of the main body <section> into
    one class */ 

    .content-param {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }
    /* consolidatded the img descendants of .content-param into one */
    .content-param img {
        max-height: 200px;
    }

    /* did the same for h2 descendants of .content-param */

    .content-param h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    .footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    
    .footer h2 {
        font-size: 20px;
    }

    /*moved some of the classes purely for formatting and not attached to any
    section into a separate area at the end of the stylesheet. just to clean it
    up a bit */

    .float-left {
        float: left;
        margin-right: 25px;
    }
    
    .float-right {
        float: right;
        margin-left: 25px;
    }
    
    a {
        color: #ffffff;
        text-decoration: none;
    }
    
    p {
        font-size: 16px;
    }
    